# Example .env file, rename to .env or copy content and adjust according to your setup.
# Database
DB_HOST=localhost
DB_PORT=3306 # MariaDB=3306, Postgresql=5432
DB_NAME=users
DB_USER=user
DB_PASSWORD=password

# MariaDB
# DB_DRIVER=mariadb+pymysql

# Postgresql
# DB_DRIVER=postgresql+psycopg

# SQLite
DB_DRIVER=sqlite

# Secrets
SECRET_KEY=dontcommitthisenvfile
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60
